.inputWrapper {
  @apply relative;

  .input {
    @apply h-[3.625rem] 
    rounded-[0.5rem]
    px-[0.75rem]
    bg-white
    border-[0.1875rem]
    focus:outline-none
    focus:border-[#00A3FF];
  }

  .arrow {
    @apply absolute 
    right-[1rem]
    top-[50%]
    transform
    -translate-y-[50%]
    cursor-pointer
    text-[0.75rem]
    text-gray-500
    transition-transform;

    &.open {
      @apply rotate-180;
    }
  }
}

.dropdown {
  @apply absolute 
  w-full
  max-h-[15rem]
  mt-2
  py-2
  bg-white
  border
  rounded-[0.5rem]
  shadow-lg
  overflow-y-auto
  z-50;

  .option {
    @apply px-4 
    py-2 
    cursor-pointer 
    hover:bg-gray-100;

    &.selected {
      @apply bg-gray-50;
    }
  }

  .noResults {
    @apply px-4 
    py-2 
    text-gray-500 
    text-center;
  }
}
